:root
{
    /* Variables */
    --main-color: #deab5f;
    --primary-color: #191010;
    --myfont : Roboto, arial;
}

footer
{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--myfont);
}

footer .container
{
    margin: 20px;
    max-width: 500px;
    text-align: center;
}

footer .heading-info
{
    margin-bottom: 20px;
}

footer p
{
    line-height: 25px;
    font-size: 1.1rem;
}

span
{
    color: var(--main-color);
}

.hr1
{
    margin-top: 100px;
    margin-bottom: 20px;
    border-color: var(--main-color);
}

.hr2
{
    
    margin-bottom: 20px;
    border-color: var(--main-color);
}

@media screen and (max-width: 1096px)
{
    .hr2
    {
        margin-top: 200px;
    }
    footer p
    {
        font-size: 0.9rem;
    }
}