:root
{
    /* Variables */
    --main-color: #deab5f;
    --primary-color: #191010;
    --myfont : Roboto, arial;
}

.header
{
    height: 100vh;
    font-family: var(--myfont);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.header-img
{
    margin-bottom: 40px;
    width: 450px;
    height: 450px;
    background: url(Images/3.png);
    background-position: center;
    background-size: cover;
}

.main-heading
{
    display: flex;
    top: 6rem;
    font-size: 5rem;
    word-spacing: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    right: 43rem;
}

.primary-heading
{
    bottom: 3rem;
    font-size: 5rem;
    word-spacing: 10px;
   
    margin-right: 20px;
}

@media screen and (max-width: 1000px)
{
    .main-heading,
    .primary-heading,
    .title,
    .title-2
    {
        font-size: 3.5rem;
    }
}