.wrapper
{
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 99;
}

.wrapper.active-popup
{
    transform: scale(1);
}

.wrapper.active
{
    height: 520px;
}

.wrapper .icon-close
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    background-color: var(--main-color);
    font-size: 2em;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 18px;
    cursor: pointer;
    z-index: 1;
    transform: scaleY(1.1);
    box-shadow: 1px 1px 4px black;
}

.wrapper .form-Box
{
    width: 100%;
    padding: 40px;
}

.wrapper .form-Box.Login
{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-Box.Login
{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-Box.Register
{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}

.wrapper.active .form-Box.Register
{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-Box h2
{
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--main-color);
    margin: 30px 0;
    text-shadow: 1px 1px 3px black;
}

.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}

.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--main-color);
    padding: 0 35px 0 5px;
    box-shadow: 1px 1px 4px black;
    border-radius: 8px;
    text-shadow: 1px 1px 3px black;
}

.input-box .icon
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--main-color);
    line-height: 50px;
}

.remember-forgot
{
    font-size: .9em;
    color: var(--main-color);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;         
    text-shadow: 1px 1px 3px black;
}

.remember-forgot label input
{
    accent-color: var(--main-color);
    margin-right: 3px;
    text-shadow: 1px 1px 3px black;
}
.remember-forgot a
{
    color: var(--main-color);
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}

.remember-forgot a:hover
{
    text-decoration: underline;
}

.btn
{
    width: 100%;
    height: 45px;
    background: var(--main-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 500;
    
}

.login-Register
{
    font-size: 0.9em;
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    text-shadow: 1px 1px 4px black;
    
}

.login-Register p a
{
    color: var(--main-color)162938;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    text-shadow: 1px 1px 4px black;
}

.login-Register p a:hover
{
    text-decoration: underline;
}