nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Roboto, arial;
    padding-top: 15px;
}

.Logo
{
    font-size: 2rem;
}

.hr-nav
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: var(--main-color);
}

li
{
    display: inline;
    list-style: none;
    font-size: 1.1rem;
}

li a
{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 8px;
}

li a:hover
{
    border-bottom: 2px solid var(--main-color);
}