:root
{
    /* Variables */
    --main-color: #deab5f;
    --primary-color: #191010;
    --myfont : Roboto, arial;
}

.products
{
    margin-top: 18%;
}

.title-3
{
    color: white;
    font-family: var(--myfont);
    font-size: 5rem;
    margin: 9rem;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card
{
    border: 2px solid var(--main-color);
    padding: 0 30px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}

.card-img
{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -60px;
}

.img1
{
    background: url(Images/1.png);
    background-position: center;
    background-size: cover;
}

.img2
{
    background: url(Images/3.png);
    background-position: center;
    background-size: cover;
}

.img3
{
    background: url(Images/4.png);
    background-position: center;
    background-size: cover;
}

.card-title
{
    color: white;
    font-family: var(--myfont);
    margin-top: 50px;
    font-size: 2rem;
}

.items p
{
    color: white;
    margin: 20px 0;
    font-family: var(--myfont);
    font-size: 1.5rem;
}