:root
{
    /* Variables */
    --main-color: #deab5f;
    --primary-color: #191010;
    --myfont : Roboto, arial;
}

.mainbtn
{
    position: absolute;
    bottom: 2rem;
    background: transparent;
    background: var(--main-color);
    transform: translateY(80px);
}

.our-story
{
    height: 100vh;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img-container
{
    margin-left: 25px;
}

.img
{
    width: 460px;
    height: 445px;
    background: url(Images/2.png);
    background-position: center;
    background-size: cover;
}

.img-container2 .img2
{
    width: 450px;
    height: 450px;
    background: url(Images/1.png);
    background-position: center;
    background-size: cover;
}

.title-style
{
    display: flex;
    align-items: center;   
}

.title
{
    font-family: var(--myfont);
    font-size: 5rem;
    color: white;
    transform: translateX(-100px);
}

.line
{
    width: 100px;
    height: 2px;
    background-color: white;
    transform: translateX(-120px);
}

.section-content p
{
    max-width: 900px;
    color: white;
    font-family: var(--myfont);
    font-size: 25px;
    line-height: 28px;
    margin-right: 20px;
}

.coffee-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    margin-left: 20px;
    margin-right: 20px;
}

.title-2
{
    font-family: var(--myfont);
    font-size: 4rem;
    color: white;
}

.img2
{
    width: 450px;
}